*{
	font-family: Microsoft YaHei;
}

.row{
    margin-bottom: 30px;

}
/*纯色背景版本  还需注释掉头上IMG*/
/*#header{
	margin:0 auto;
	height: 140px;
	background-repeat: no-repeat;
	background-image:url(../image/title_word.png);
	background-size: 520px 95px;
	background-position-x:15%;
	background-position-y:center;  
	background-color: #3399cc;
	
}*/
/*背景图版本*/
#header{

	position: relative;
	margin:0 auto;
	height: 140px;
	background-repeat: no-repeat;
	background-image:url(../image/n3399CC/head2.png);   
	background-size: 100% 100%;


}

.jiubanlianjie:hover{
	cursor: pointer;
}

.title_word{
	position:absolute;
	width: 400px;
	left:10%;
	top: 23%;
}
.fn_header{
	width: 85%;
	margin: 0 auto;
}


.herf_header {
	float: right;
	padding-top: 10px;
}

.herf_header a{
	color: #fff;
	padding-right: 10px;
}

.search{
	position: relative;
	float: right;
	top: 105px;
	left: 200px;
}

.search input{
	
	width: 140px; 
	height: 20px;
	padding-top: 0px;
	color: #e6e6e6;
	border-radius: 20px;
	border-style: none;
}

.search img{
	cursor: pointer;
	width: 25px;
}




.navbar{
    border: 0px;
    background-color: #eeeeee;
}

.navbar-nav{
	float: none;
	width: 87%;
	margin: 0 auto;

}

.navbar-nav > li{
	width: 7.69%;
	border-bottom: 3px solid #eeeeee;

}

.bg-on{
	background-color: #3399cc;
}
/*.navbar-nav > li:hover{
    border-bottom: 3px solid #00007B;
}*/

.navbar-nav li a{
	text-align: center;
}

.navbar-nav > li >ul {
	background-color: #eeeeee;
	min-width: 110px;
	width: 100%;
}

.dropdown .divide{
	width: 70%;
	margin: 0 auto;
	border-bottom: 1px dotted #bcbcbc;
}

.dropdown > a {
	color: #3399cc;
}

.tab-pane .row{
	width: 99.8%;
	margin:0 auto;
	margin-bottom: 30px;
	padding-bottom: 10px;
	padding-left: 15px;
    padding-right: 15px;
	border:2px solid #3399cc;
    border-radius: 0 0 10px 10px;

}

.change-tab{

	margin-top: 30px;
}

.change-tab >li{
    float: right;

}
.change-tab >li> a{
    border-radius: 15px 15px 0 0;

}

.change-tab  .active  a{
    color: #fff !important;
	background-color: #3399cc !important;
}

.change-tab a:hover{
	/*border-color: none  !important;*/
	border:1px solid #3399cc !important;

}

.carousel{

    height: 430px;
}

.carousel img{
	width: 652px;
	height: 430px !important;

}


.carousel ol{
	left: 500px;
	top: 400px;
}

.carousel-caption{
	background-color: rgba(0,0,0,0.6);
	padding-top: 1px;
	padding-bottom: 1px;
	font-size: 18px;
}
.carouselBottom{
	position: relative;
	height:45px;
	background-color: #ededed;
	z-index: -1;
}

.carouselBottom .tupianxinwen{
	border-radius: 10px;
	text-align: center;
	width: 15%;
	margin:13px 40px;
	background-color: #3399cc;
	color: #fff;
}

.carousel-indicators li{
	background-color: #878787;
	border: none;
}

.carousel-indicators .active{
	background-color: #3399cc;
}



.sub-banner1{
    top: 0px;
	position: absolute;
	display: block;
}
.sub-banner1 img{
	width: 70px;
}

.sub-banner1 .more{
	float: right;
	font-size: 14px;
	padding: 24px 0;
	margin-right: 20px;
}

.sub-banner{
	border-bottom: 3px solid #3399cc;
	padding-bottom: 10px;
}

.sub-banner img{
	width: 70px;
}

.sub-title {
	font-size: 18px;
	font-weight: 600;
}

.sub-banner .more{
	float: right;
	font-size: 14px;
	padding: 24px 0;
	margin-right: 20px;
}

.sub-info{
	padding-top: 20px;
}
.sub-info p {
	padding: 4px 0;
	border-bottom: 2px solid #e5e5e5;
	color:#353535;
}

.sub-info .time {
	float: right;
	color: #3399cc;
}


.sub-info2{
	padding-top: 20px;
}
.sub-info2 div {
	padding: 27px 0;
	border-bottom: 2px solid #e5e5e5;
	color:#353535;
}

.sub-info2 .time {
	float: right;
	color: #3399cc;
}


.sub-info3{
	padding-top: 20px;
}
.sub-info3 p {
	padding: 7px 0;
	border-bottom: 2px solid #e5e5e5;
	color:#353535;
}

.sub-info3 .time {
	float: right;
	color: #3399cc;
}

.mini-info h5{
	margin-bottom:0;
}

.mini-info .info1{
		color: #838383;
		padding-top: 5px;
		font-size: 12px;
		
}

.mini-info{
    padding-top: 15px;
    border-bottom: 2px solid #e5e5e5;

}
.sub-info1 .time1 {
	padding: 0;
	font-size: 17px;
	color: #3399cc;
}

.login-img >img{
	
	width: 90%;
	margin-top:15px;
	margin-left: 14px;
	margin-right: 14px;
}

.login{
	padding-top: 30px;
	width: 80%;
	margin:0 auto;
}


.login input{
	padding-left: 10px;
    border-radius: 25px;
    border:1px solid #3399cc;
    margin-left: 10px;
}

.login p{
	margin-bottom:15px;
}

.login .button1{
    cursor: pointer;
	float: left;
	position: relative;
	left: 30px;
	border-radius: 25px;
	border:2px solid #3399cc;
    background-color: #3399cc;
    color: #fff;
}

.login .button2{
	cursor: pointer;
	float: right;
    position: relative;
    right: 30px;
	border-radius: 25px;
	border:2px solid #3399cc;
    background-color: #3399cc;
    color: #fff;
}

.login-fn{
	padding-top: 10px;
}

.mini-href{
	width: 80%;
	margin-left: 25px;

	margin-top: 90px;
}
.mini-href img{
    width: 30px;
}

.mini-fn-img2{
	margin-left: 15px;
}

.SimNum{
	margin-top: 30px;
	text-align: center;
}
.download-ctent{
	width: 90%;
	margin:20px auto;
}

.download-ctent label {
	font-size: 15px;
	font-weight: normal;
	cursor: pointer;
	color: #3399cc;
	margin-left:35px;
	margin-top: 20px;
	text-align: center;
	width: 90px;
	border-radius: 25px;
	border:1px solid #3399cc;

}
.download-ctent label:hover{
	background-color: #eee;
}

/*下载专区 之前竖排第一版*/

/*.download-ctent{
	width: 80%;
	margin:0 auto;
}

.download-ctent label {
	font-size: 15px;
	font-weight: normal;
	cursor: pointer;
	color: #3399cc;
	margin-left: 10px;
	margin-top: 30px;
	text-align: center;
	width: 90px;
	border-radius: 25px;
	border:1px solid #3399cc;

}*/

#footer{
	height: 180px;
	background-color: #3399cc;
}

#links{
	height: 120px;
	background-color: #ededed;
	color: #3399cc;
}

#links  p{
	margin-top: 30px;
	font-size: 20px;
}

.links-item{
	list-style: none;
	padding-left: 0px;
    font-size: 12px;
}

.links-item > li{
	float: left;
	margin-right: 15px;
	font-size: 14px;
}

.btn-group  button{
	cursor: pointer;
	width: 80px;
	font-size: 12px;
	border: 1px solid #3399cc;
	border-radius:25px;   
	padding-bottom: 0px; 
	padding-left: 5px;
	background: none;
	margin-left: 5px;
}

.btn-group span{
    float: right;
}
.btn-group ul{
	background-color: #ededed;
	border: 1px solid #3399cc;
	border-radius:5px ;
	min-width: 100px;
	height:180px;
	overflow:auto;
}

.btn-group li{

	font-size: 12px;
}

.btn-group li:hover{

	background-color: #ededed;
}

.btn-group{
	display: inline-block;
}
.footer-blank{
	height: 60px;
}

#footer p{
   
   margin-bottom: 10px;
   color: #fff;
}


